@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("/diwali.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  scrollbar-width:none;
}

/* dark mode looking scroll bar */

  ::-webkit-scrollbar{
  width:8px !important;
}

::-webkit-scrollbar-track{
  background:#555 !important;
}

::-webkit-scrollbar-thumb{
  background:#121212 !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover{
  background:#242424 !important;
}

